

.Container-home{
   
    display: flex;
    margin-top: 8rem ;
   
    
}

.Tilt{
    margin-right:10rem ;
}

.right-box{
    width: 100%;
    text-align: center;

}
.left-box{
    width:100%;
    
}
.greeting{
    color:#66FCF1;
    font-size: 5em;
    margin-top: 30px;
    margin-left: 10rem;

}
.left-box h2{
    color:#C5C6C7;
    font-size:2.8em;
    margin-left: 10rem;
}
.right-box img{
    width: 25rem;
    height: 18rem;
    margin-top: 20px;
    border: 2px solid #45A29E ;
    border-radius: 5px;

/* box-shadow:  5px 5px 10px black,
             -5px -5px 10px black; */
}
@media (max-width: 1250px) {
    .left-box h1{
        font-size: 4em;
    }
    .left-box h2{
        font-size: 2em;
    }
    .right-box img{
        height: 15rem;
        width: 22rem;
    }
}

@media (max-width:1050px){
    .left-box h1{
        font-size: 3.5em;
    }
    .left-box h2{
        font-size: 1.5em;
    }
    .right-box img{
        height: 14rem;
        width: 23rem;
    }
    .left-box{
        text-align: center;
    }
}
.left-box button{
    margin-left: 10rem;
    margin-top: 5px;
    width: 8rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    border:2px solid #45A29E;
    font-size: 1em;

}
.left-box button:hover{
    background: #45A29E;
}

@media(max-width:970px){
.Container-home{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}
.left-box h1{
    font-size: 5em;
    margin-left: 0;
}
.left-box h2{
    font-size: 2.3em;
    margin-left: 0;
}
.right-box img{
    height: 18rem;
    width: 25rem;
}
.Tilt{
    margin-right: 0;
}
.left-box button{
    margin-left: 0;
}

} 

@media (max-width:550px){
    .right-box img{
        height: 15rem;
        width: 22rem;
    }
    .left-box h1{
        font-size: 4em;
        margin-left: 0;
    }
    .left-box h2{
        font-size: 2em;
        margin-left: 0;
    }
}



